@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
:root{
    --primary-font:"Nunito", serif;
    --secondary-font:"Handlee", cursive;
    --primary-color:#17A2B8;
    --secondary-color:#00394f;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    object-fit: cover;
}
.navigation{
    padding:0 40px;
  
}
.navbar-brand{
    font-size: 55px;
    font-family: var(--primary-font);
    font-weight: bold;
}
.navbar-brand span{
    color:var(--primary-color);
}
.nav-item a.nav-link{
    font-size:18px;
    color:var(--secondary-color);
    font-family:var(--primary-font);
    padding:26px 15px !important;
    font-weight:bold;
}

.join a{
    color: white;
    background-color:var(--primary-color);
    padding:10px 30px;
    font-size:18px;
}
.hero{
    background-color: var(--primary-color);
}
.details{
    padding-top: 100px;
}
.details h4,h2{
    font-family:var(--secondary-font);
}
.details p{
    font-family: var(--primary-font);
    font-size: 17px;
    font-size: 400;
    line-height: 24px;
}
.details a{
    background-color:var(--secondary-color);
    padding:20px 55px;
    font-size:16px;
}

.details h2{
    font-size:75px;
}
.class img{
    height:36px;
    width:36px;
    margin-left:10px;
}
.class h4{
    font-family:var(--secondary-font) ;
    color:var(--secondary-color);
    padding-top:15px;
    font-size: 24px;
    margin-bottom: 10px;
}
.class p{
    font-size: 16px;
    font-family: var(--primary-font);
    color:#666666;
    line-height: 24px;  
}
.class figcaption{
    padding-left:25px;
}
.one,.two,.three,
.four,.five,.six{
    margin:0 8px;
}   
.class figure{
    padding:0 22px;
}
.fig-1,
.fig{
    border-radius: 2px;
}
.learn span,.info span,.book-info span,.text1 span,.text2 span,.text3 span{
    position:relative;
    color:var(--primary-color);
    font-family: var(--primary-font);
    font-size: 18px;
    line-height: 24px;
}
.learn h3,.info h3,.book-info h3,.text1 h3,.text2 h3,.text3 h3{
    font-family: var(--secondary-font);
    color:var(--secondary-color);
    font-weight: 700;
    line-height: 48px;
    font-size: 42px;
}
.info h3,.text1 h3{
    margin:0 0 24px;    
}
.learn span::after,
.info span::after,
.book-info span::after,
.text1 span::after,
.text2 span::after,
.text3 span::after
{
    display: inline-block;
    content:'';
    width:60px;
    height:2px;
    background-color: var(--primary-color);
    position:absolute;  
    top:11px;
    margin-left:10px;
}
.info span::before,.text1 span::before,
.text2 span::before,.text3 span::before
{
    display: inline-block;
    content:'';
    width:60px;
    height:2px;
    background-color: var(--primary-color);
    position:absolute;  
    top:11px;
    margin-left:-70px;
}
.learn p,.book-info p,.text1 p,.text2 p,.text3 p{
    font-size: 19px;
    font-family: var(--primary-font);
    font-weight: 400;
    color:#666666;
    line-height: 24px;
}
.book-info h3,.text2 h3{
    padding-bottom:23px;
}

.fa-check:before{
    content: "\f00c";
    color:var(--primary-color);
}
.gr::before{
    color:green;
}
.list1 li,.list2 li{
    font-style: var(--primary-font);
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #666666;
}
.join2 a{
    background-color:var(--primary-color);
    font-style: var(--primary-font);
    font-weight: 400;
    padding:13px 30px;
    font-size:18px;
    line-height: 24px;
}
.join2{
    padding-top: 35px;
}
.activity img{
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.table h4{
    font-family: var(--secondary-font);
    font-size: 28px;
    font-weight: 700;
    color:var(--secondary-color);
    line-height: 29px;
    padding-top: 15px;
}
.table p{
    font-size: 17px;
    font-family: var(--primary-font);
    font-weight: 500;
    color:#666666;
    line-height: 24px;
    padding:7px 15px;
}
.left1,.left2,
.left3,.left4{
    font-size: 18px;
    font-family: var(--primary-font);
    font-weight: 400;
    color:#666666;
    line-height: 24px;
}
.right{
    font-size: 18px;
    font-family: var(--primary-font);
    font-weight: 300;
    color:#666666;
    line-height: 24px;
}
.card-info{
    padding:13px 40px 25px;
}
.join3{
    padding-bottom: 20px;
}
.join3 a{
background-color:var(--primary-color);
    font-style: var(--primary-font);
    font-weight: 400;
    padding:10px 28px;
    font-size:18px;
    line-height: 24px;
}  
.form-title{
    background-color: #00394F;
    padding:25px 0 20px 0;
} 
.form-title p{
    color:white;
    font-family: var(--secondary-font);
    font-size: 42px;
    font-weight:700;
    line-height:48px;
    text-align: center;
}
.form1{
    border-radius: 5px;
}
#formup{
    background-color:var(--primary-color);
}
.name,.email,.glasses{
    padding:0 65px;
    
}
#name1,
#Email1
{
    padding:25px 28px 25px 28px;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 400;
    line-height:24px;
}
#selection{
    font-family: var(--primary-font);
    font-size: 17px;
    font-weight: 500;
    line-height:24px;
    color: rgb(73,80,87) !important;
    padding:14px 25px;
}

::placeholder{
    color: rgb(73,80,87) !important;
}
.book-btn{
    padding-bottom: 52px;
    text-align: center;
}
.btnsub{
    background-color: var(--secondary-color);
    padding:20px 0px;
    font-style: var(--primary-font);
    font-weight: 400;
    font-size:18px;
    line-height: 24px;
}
.img1,.img2,
.img3,.img4{
    height:250px;
    width:250px;
}
.teacher h5{
    color:var(--secondary-color);
    font-family:var(--secondary-font);
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
}
.teacher p{
    color:rgb(102,102,102);
    font-family:var(--primary-font);
    font-style: italic;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.fa-quote-left::before{
    content: "\f10d";
    font-size:35px;
    color:var(--primary-color);
}
.test-image{
    height:80px;
    width:80px;
} 
.test-image img{
    border-radius:50%;
}
.test-author{
     font-family: var(--secondary-font);
     color:var(--secondary-color);
     font-size: 22px;
     font-weight: 700;
     line-height:24px;
}
.test-position i{
    font-family: var(--primary-font);
     color:rgb(102,102,102);
     font-size: 18px;
     font-weight: 400;
     line-height:24px;
}
.test p{
    font-family: var(--primary-font);
    color:rgb(102,102,102);
    font-size:18px;
    font-weight: 400;
    line-height:26px;
}
.article h4{
    font-family: var(--secondary-font);
    color:var(--secondary-color);
    font-size: 26px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
}
.article p{
    font-family: var(--primary-font);
    color:rgb(102,102,102);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
}
.read{
    padding-bottom: 35px;
}
.read a{
    color:white !important;
    background-color: var(--primary-color);
    font-size:18px;
    line-height: 24px;
    font-weight:400;
    padding:10px 27px;
}
.last{
    background-color: var(--secondary-color);
}
.contactus{
    padding-top: 50px;
}
.logo1 img{
    height:50px;
    width:50px;
    margin-top: 20px;
    padding-right: 10px;
}
.logo1 h1{
    color:white !important;
    font-family: var(--primary-font);
    font-size:45px;
    line-height:40px;
    font-weight:700;
}
.para1{
    color:white !important;
    font-family: var(--primary-font);
    font-size:17px;
    line-height:24px;
    font-weight:500;
}
.fa-brands{
    color:#17A2B8;
    height:50px;
    width:50px;
    border:1px solid var(--primary-color);
    border-radius: 50%;
}
.cont,.links,.news{
    color:var(--primary-color);
    font-family: var(--secondary-font);
    font-size:30px;
    line-height:34px;
    font-weight:700;
}
.list3 h4{
    color:white;
    font-family: var(--secondary-font);
    font-size:21px;
    line-height:24px;
    font-weight:700;
}
.list3 p{
    color:white;
    font-family: var(--primary-font);
    font-size:16px;
    line-height:24px;
    font-weight:400;
}
.n1 li{
    color:white;
    font-family: var(--primary-font);
    font-size:17px;
    line-height:24px;
    font-weight:400;
}
.fields1{
    
    font-size: 18px;
}
.s1{
    background-color: var(--primary-color);
}
#but{
    font-size: 18px;
    font-weight: 400;
}
.part1,.part3,.part4{
    color: var(--primary-color) !important;
    font-family: var(--primary-font);
    font-size:17px;
    line-height:24px;
    font-weight:600;
}
.part2{
    color: white;
    font-family: var(--primary-font);
    font-size:16px;
    line-height:24px;
    font-weight:500;
}